body { 
    font-family: Arial, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    background-size: auto; 
    margin: 0;
    
}

.list1 {
    background-color: black;
    width: 360px;
    
    display: grid;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    width: 78.45px;
    height: 15.43px;
    margin: 20px;
    background: none;
}

.tex {
    background: none;
    width: auto;
    height: auto;
    color: white;
    display: grid;
    margin: 0 0 0 280px;
    
}

a:link {
    color: white; 
}

a:visited {
    color: white; 
}
a:hover {
    color: white; 
}
a:active {
    color: white; 
}

.logo2 {
    width: 340px;
    height: 221px;
    margin: 20px;
    background: none;
    
}

.part {
    background: none;
    color: white;
    width: 340px;
    height: 221px;
    
}

.text-container {
    
    top: 0;
    left: 0;
    width: 340px;
    display: flex;
    align-items: center;
}

.pre1 {
    color: white;
    font-size: 54px;
    line-height: 1.5;
    white-space: normal;
    padding: 20px;
    padding-top: 10px;
    background: none;
    top: -280px;
    
    margin-left: 30px;
}

.list1text{
    
    width: 320px;
    height: auto;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 25px;
    font-size: 12px;
    background: none;
}

.list2 {
    background-color: #FEE42A;
    box-sizing: border-box;
    width: 360px;
    display: grid;
    align-items: start;
    grid-template-rows: auto;
}
.zag2{
    color: black;
    font-size:27px ;
    background: none;
    margin-top: 20px;
    
    margin-left: -130px;
    
    
}

.tex2{
    font-size: 17px;
    margin-left: 30px;
    background: none;
    margin-right: 50px;
    width: auto;
    
    margin-top: -30px;

}

.list3{
    background-color: black;
    width: 360px;
    
    display: grid;
    align-items: start;
    box-sizing: border-box;
    
    
}

.zag3{
    color: white;
    background: none;
    font-size: 22px;
    padding: 10px;
    
    margin-left: -90px;
}

.b1{
    
    display: grid;
    background: none;
    margin-left: 20px;   
     
    margin-top: -450px;
}

.tex3{
    margin-top: 310px;

}

.li1{
    margin-top: 10px;
}

.li2{
    margin-top: 10px;
}

.li3{
    margin-top: 10px;
}

.li4{
   
    margin-top: 50px;
    margin-left: -20px;
   
}

@font-face {
 font-family: "mysrift";
 src: url("fonts/ebgaramondregular.woff") format("woff"),
      url("fonts/ebgaramondregular.woff2") format("woff2"),
      url("fonts/ebgaramondregular.ttf") format("ttf"),
      url("fonts/interbold.ttf") format("ttf"),
      url("fonts/interbold.woff") format("woff"),
      url("fonts/interbold.woff") format("woff"),
}